/* =Typography
-----------------------------------------------------------------------------*/
body {
  color: #333;
}
	
/* =Links
-----------------------------------------------------------------------------*/


/* =Layout
-----------------------------------------------------------------------------*/
.container {
  width: 826px;
  padding: 0;
  margin: 24px auto;
}

/* =Header
-----------------------------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 { color: #222 }
h2 {
  margin-bottom: 1.5em;
}

/* =Nav
-----------------------------------------------------------------------------*/
.pagination {
  left: 0;
}
.pagination .pages {
  display: block;
  float: left;
  padding: 1px 1.5em 1px 0;
}
.pagination .page-items a,
.pagination .page-items span {
  display: block;
  float: left;
  line-height: 1em;
  padding: 4px 7px;
  margin-right: 1em;
}
.pagination .page-items a {
  color: #333;
  text-decoration: none;
}
.pagination .page-items a:hover {
  text-decoration: underline;
}
.pagination .page-items span {
  border: 1px solid #ddd;
}

/* =News
-----------------------------------------------------------------------------*/
#news ul {
  margin-left: 0;
}
#news li {
  list-style: none;
  margin-bottom: 3em;
}
#news h4 a {
  color: #222;
  text-decoration: none;
}
#news h4 a:hover { text-decoration: underline }
#news .info a,
#news table.results a {
  color: #333;
  text-decoration: none;
}
#news .info a:hover,
#news table.results a:hover {
  text-decoration: underline;
}

/* =Events
-----------------------------------------------------------------------------*/
.events {
  margin-bottom: 1.5em;
}
.events h5 a {
  color: #222;
  text-decoration: none;
}
#event table.results a {
  color: #333;
  text-decoration: none;
}
.events h5 a:hover,
#event table.results a:hover {
  text-decoration: underline;
}

/* =People
-----------------------------------------------------------------------------*/
#people li {
  margin-bottom: 2.5em;
}
#people img {
  margin-bottom: 0.5em;
}
#people a {
  text-decoration: none;
}
#people a:hover {
  text-decoration: underline;
}

/* =Person
-----------------------------------------------------------------------------*/
#person table {
  margin-bottom: 3em;
}
#person tfoot th,
#person tfoot td {
  background: transparent;
  border-bottom: none;
  font-weight: bold;
}

/* =Contact
-----------------------------------------------------------------------------*/
.forms textarea {
  height: 11.2em;
}

/* =Misc
-----------------------------------------------------------------------------*/
.hidden {
  display: none
}
.right {
  text-align: right;
}

/* =Footer
-----------------------------------------------------------------------------*/
footer {
  font-size: 12px;
  color: #777;
  margin-top: 1.5em;
  padding-bottom: 6em;
  padding-top: 1.5em;
  border-top: 1px solid #eee;
}
footer a { text-decoration: none }
footer .social { float: left }
footer .copyright { float: right }
