<footer class="row">
  <p class=social>Wir sind auch bei <a href="https://www.facebook.com/berlinracingteam">Facebook</a>.</p>
  <p class=copyright>Berlin Racing Team © <%= today.year %></p>
</footer>
