<nav class="primary nav-h">
  <ul>
    <li><a href="/">Home</a></li>
    <% all_pages.each do |page| %>
      <li><a<% if active_page == page %> class="active"<% end %> href="/<%= page %>"><%= page.capitalize %></a></li>
    <% end %>
  </ul>
</nav>
