<nav class="primary nav-h">
  <ul>
    <li><a<% if active_page == 'home' %> class="active"<% end %> href="/">Home</a></li>
    <li><a<% if active_page == 'news' %> class="active"<% end %> href="/news">News</a></li>
    <li><a<% if active_page == 'rennen' %> class="active"<% end %> href="/rennen">Rennen</a></li>
    <li><a<% if active_page == 'team' %> class="active"<% end %> href="/team">Team</a></li>
    <li><a<% if active_page == 'kontakt' %> class="active"<% end %> href="/kontakt">Kontakt</a></li>
  </ul>
</nav>
