<h2>Kontakt</h2>

<div id="contact" class="row">

  <div class="twothird">

    <% if message %>
      <p class="success">Vielen Dank für deine Nachricht! Wir werden sie so schnell wie möglich beantworten.</p>
    <% end %>

    <p>Du hast Fragen? Möchtest gerne bei uns mitfahren? Als Sponsor auftreten? Oder einfach nur einen Kommentar abgeben? Dann schreib uns!</p>

    <form method="post" action="<%= Email.createlink %>" class="forms">
      <ul>
        <li>
          <label for="contact_name">Name</label>
          <input class="width-33" type="text" id="contact_name" name="contact[name]" value="<%= email.name %>" required/>
        </li>
        <li class="hidden">
          <label for="email">Diese Feld bitte nicht ausfüllen!</label>
          <input type="email" id="email" name="email"/>
        </li>
        <li>
          <label for="contact_email">E-Mail <span class="descr">(Wird nicht weitergegeben)</span></label>
          <input class="width-33" type="email" id="contact_email" name="contact[email]" value="<%= email.email %>" required/>
        </li>
        <li>
          <label for="contact_message">Nachricht</label>
          <textarea class="width-100" id="contact_message" name="contact[message]" required><%= email.message %></textarea>
        </li>
        <li>
          <input type="submit" class="btn" value="Anfrage senden"/>
        <li>
      </ul>
    </form>
  </div>

  <div class="third">
    <h6>Anschrift</h6>
    <address>
      Danilo Braband<br/>
      Berlin Racing Team<br/>
      Simon-Bolivar-Str. 24<br/>
      13055 Berlin
    </address>
  </div>

</div>
